doctype html
html(lang='en')
  head
    include views/shared/css
    title Main Page
  body
    .container
      .row
        .col-xs-12
          ul
            li: a(href='/views/tabs/') Tabbing System
            li: a(href='/views/graphs/') Graphing with Zillow

include views/shared/scripts
script(src='index.js')
