doctype html
html(ng-app='mean-template', lang='en')
  head
    include views/shared/css
    title Main Page
  body
    .container
      .row
        .col-xs-12
          ul
            li: a(href='/views/tabs/') Tabbing System

include views/shared/scripts
script(src='index.js')
